<p>
  <strong>Bad Ass Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Bad Ass Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment snowflake?</h2>
<%= render 'comments/form' %>

<%=link_to 'You screwed up...now fix it', edit_article_path(@article) %> |
<%=link_to 'I am going home this article is lame', articles_path %>
