<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="container-fluid">
    <header>
      <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to 'Go back to scrub welcome page', controller: 'welcome' %>
          </li>
        </ul>
        </div>
      </nav>
    </header>

    <div class="main">
      <%= yield %>
    </div>

    <div class="row">
      <div class="col-sm-12 bg-green">
        <%= image_tag('disney/disney-everest.jpg', class: 'img-responsive center-block') %>
      </div>
    </div>

  </body>

</html>
