<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <%= link_to 'Go back to scrub welcome page', controller: 'welcome' %>
          </ul>
        </nav>
      </div>

    </header>
    <div class="container">
    </div>
    <%= yield %>
    <div class="container">
    </div>

    <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 bg-green">
      <%= image_tag('disney/disney-everest.jpg', class: 'img-responsive center-block') %>
    </div>
  </div>
</div>
  </body>

</html>
